<%- include('../partials/header') %>

<h2>Women's Clothing</h2>
<div id="womens-page">
  <img id='Img' src='https://m.media-amazon.com/images/I/51f-uFXxlWS._AC_SX522_.jpg'>
  <form action='/cart' method='POST'>
    <input type='hidden' name="product" value='Shirt'>
    <input type='hidden' name="price" value='$50'>
    <input type='hidden' name="size" value='M'>
    <input type='hidden' name="quantity" value='1'>
    <p id='detail'>Name: Adidas Shirt <br>Style: Womens<br>Price: $25</p>
    <input type='submit' value='Add To Cart' id="womens-atc">
  </form>
</div>





  <%- include('../partials/footer') %>

