<%- include('../partials/header') %>

<h2>Women's Clothing</h2>

<!-- <div>
    <img id='Img' src='/images/womens.webp'>
    <form action='/cart' method='POST'>
      <input type='hidden' name="product" value='Shirt'>
      <input type='hidden' name="price" value='$15'>
      <input type='hidden' name="size" value='M'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Adidas Shirt <br>Style: Womens<br>Price: $25</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div> -->


  <%- include('../partials/footer') %>