
<%- include('../partials/header') %>

<h2>Kid's</h2>



<!-- <div>
    <img id='Img' src='/images/kids.jpeg'>
    <form action='/Cart' method='POST'>
      <input type='hidden' name="product" value='Tracksuit'>
      <input type='hidden' name="price" value='$50'>
      <input type='hidden' name="size" value='M'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Adidas Tracksuit<br>Style: Kids<br>Price: $50</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div> -->

  <%- include('../partials/footer') %>