<%- include('./partials/header') %>

    <h1><%= title %></h1>

    <!-- <p>Welcome to <%= title %></p> -->
    <body id='home-page'>


      <div id='categories-top'>
        <div id='womens'>
          <a id='womens' href='/womens'>Women's </a>
        </div>
        <div id='mens'>
          <a id='mens' href='/mens'>Men's </a>
        </div>
    
      </div>

      <div id='categories-bottom'>
        <div id='kids'>
          <a id='kids' href='/kids'>Kid's </a>
        </div>
        <div id='products'>
          <a id='allProducts' href='/products/show'>All Products</a>
        </div>
      </div>


  
    <%- include('./partials/footer') %>