<%- include('../partials/header') %>

<h2>Men's Clothing</h2>

<div id="mens-page">
  <img id='Img' src='https://icon2.cleanpng.com/20180603/gki/kisspng-t-shirt-adidas-originals-trefoil-adidas-t-shirt-5b14b4e5c012d2.5175365015280836857867.jpg'>
  <form action='/Cart' method='POST'>
    <input type='hidden' name="product" value='Shirt'>
    <input type='hidden' name="price" value='$50'>
    <input type='hidden' name="size" value='M'>
    <input type='hidden' name="quantity" value='1'>
    <p id='detail'>Name: Adidas Shirt<br>Style: Mens<br>Price: $25</p>
    <input type='submit' value='Add To Cart' id="mens-atc">
  </form>
</div>





  <%- include('../partials/footer') %>