<%- include('../partials/header') %>

<h2>Men's Clothing</h2>

<div id="mens-page">
  <img id='Img' src='https://i.ebayimg.com/images/g/c1IAAOSwoRRfIG9c/s-l500.jpg'>
  <form action='/Cart' method='POST'>
    <input type='hidden' name="product" value='Shirt'>
    <input type='hidden' name="price" value='$50'>
    <input type='hidden' name="size" value='M'>
    <input type='hidden' name="quantity" value='1'>
    <p id='detail'>Name: Adidas Shirt<br>Style: Mens<br>Price: $25</p>
    <input type='submit' value='Add To Cart' id="mens-atc">
  </form>
</div>





  <%- include('../partials/footer') %>