<%- include('../partials/header') %>


<h2>Men's Clothing</h2>


<!-- <div>
    <img id='Img' src='/Users/pamelasilva/code/projects/pbueno-ecom/public/images/mens.jpeg'>
    <form action='/Cart' method='POST'>
      <input type='hidden' name="product" value='Shirt'>
      <input type='hidden' name="price" value='$10'>
      <input type='hidden' name="size" value='M'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Adidas Shirt<br>Style: Mens<br>Price: $25</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div> -->








  <%- include('../partials/footer') %>